ul {
    font-family: 'Space Mono', monospace;
    list-style-type: none;
    margin: 3px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: .9;
    text-transform: uppercase;
}
.active {
    background-color: #0b3d91;
}
ul {
    position: fixed;
    top: 0;
    width: 99%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.container {
    text-align: center;
    width: 100%;
    height: 100px;
    position: fixed;
}
.nasa_logo {
    width: 425px;
    height: 350px;
    margin: 110px 0px 20px 520px;
    padding: none;
    opacity: 0.4;
}
div.transbox {
    background-color: white;
    border: none;
    opacity: 1;
}
body {
    background-image: url(eye-nebulae.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}
.header_1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: white;
    font-size: 275%;
    text-transform:
}
.header_1_2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 120%;
}
.header_2 {
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1.5px 1.5px black;
    width: auto;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 140%;
}

.about_1 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: white;
  font-size: 250%;
  text-transform:
}
.abtheader_1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #EFEC2D;
    font-size: 275%;
    text-transform:
}
.about_2 {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1.5px 1.5px black;
  width: auto;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 120%;
}
.headerdescriptor {
  font-family: 'Open Sans', sans-serif;
  font-size: 180%;
}
